@charset "UTF-8";
.grid {
  margin: 0 auto;
  max-width: 90vw;
  overflow: hidden; }

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 1rem; }

.col {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%; }

.col-1 {
  width: 8.33333%; }

.offset-col-1 {
  margin-left: 8.33333%; }

.col-2 {
  width: 16.66667%; }

.offset-col-2 {
  margin-left: 16.66667%; }

.col-3 {
  width: 25%; }

.offset-col-3 {
  margin-left: 25%; }

.col-4 {
  width: 33.33333%; }

.offset-col-4 {
  margin-left: 33.33333%; }

.col-5 {
  width: 41.66667%; }

.offset-col-5 {
  margin-left: 41.66667%; }

.col-6 {
  width: 50%; }

.offset-col-6 {
  margin-left: 50%; }

.col-7 {
  width: 58.33333%; }

.offset-col-7 {
  margin-left: 58.33333%; }

.col-8 {
  width: 66.66667%; }

.offset-col-8 {
  margin-left: 66.66667%; }

.col-9 {
  width: 75%; }

.offset-col-9 {
  margin-left: 75%; }

.col-10 {
  width: 83.33333%; }

.offset-col-10 {
  margin-left: 83.33333%; }

.col-11 {
  width: 91.66667%; }

.offset-col-11 {
  margin-left: 91.66667%; }

.col-12 {
  width: 100%; }

.offset-col-12 {
  margin-left: 100%; }

/*
medium—upp að 800px
*/
@media (max-width: 799px) {
  .col-md-1 {
    width: 8.33333%; }
  .col-md-2 {
    width: 16.66667%; }
  .col-md-3 {
    width: 25%; }
  .col-md-4 {
    width: 33.33333%; }
  .col-md-5 {
    width: 41.66667%; }
  .col-md-6 {
    width: 50%; }
  .col-md-7 {
    width: 58.33333%; }
  .col-md-8 {
    width: 66.66667%; }
  .col-md-9 {
    width: 75%; }
  .col-md-10 {
    width: 83.33333%; }
  .col-md-11 {
    width: 91.66667%; }
  .col-md-12 {
    width: 100%; }
  .offset-col-md-1 {
    margin-left: 8.33333%; }
  .offset-col-md-2 {
    margin-left: 16.66667%; }
  .offset-col-md-3 {
    margin-left: 25%; } }

/*
small—upp að 500px
*/
@media (max-width: 499px) {
  .col-sm-1 {
    width: 8.33333%; }
  .col-sm-2 {
    width: 16.66667%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-4 {
    width: 33.33333%; }
  .col-sm-5 {
    width: 41.66667%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-7 {
    width: 58.33333%; }
  .col-sm-8 {
    width: 66.66667%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-10 {
    width: 83.33333%; }
  .col-sm-11 {
    width: 91.66667%; }
  .col-sm-12 {
    width: 100%; }
  .offset-col-sm-1 {
    margin-left: 8.33333%; }
  .offset-col-sm-2 {
    margin-left: 16.66667%; }
  .offset-col-sm-3 {
    margin-left: 25%; } }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }

body {
  background-color: #d6dbda; }

.mainContent, .secondaryContent {
  text-align: center;
  background-color: #d6d6d6;
  padding: 20px 0;
  padding-bottom: 2rem;
  overflow: hidden;
  margin: 0;
  text-align: left;
  border: 1px solid black; }
  .mainContent h1, .secondaryContent h1 {
    padding-right: 15%;
    margin-top: 20px;
    font-size: 1.5rem; }
  .mainContent img, .secondaryContent img {
    width: 100%; }

.secondaryContent {
  background-color: #a9adac;
  margin-bottom: 3rem;
  border-top: none; }

.mainContent {
  border-bottom: none; }

.text {
  display: flex;
  justify-content: center;
  align-items: center; }

hr {
  height: 2px; }

.kaeli {
  display: flex;
  background-image: url("img/bannerinn.jpg");
  background-repeat: no-repeat;
  object-fit: initial;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 4rem;
  width: 100%;
  height: 400px; }
  .kaeli img {
    object-fit: fill; }
  .kaeli p {
    font-size: 2rem;
    padding: 0;
    padding-top: 20%;
    margin: 0; }

ul li {
  display: inline-block;
  list-style-type: none;
  margin: 0 5px;
  height: 100%; }

a {
  text-decoration: none;
  color: #111514;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }

footer {
  height: 10vh;
  background-color: #424242; }
  footer li {
    color: #d4d4d4;
    margin: 0 10px; }
    footer li:nth-child(1) {
      margin-left: 30%; }
  footer h3 {
    text-align: center;
    font-size: 12px; }
  footer a {
    color: #d4d4d4;
    font-size: 12px; }
  footer p {
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
    color: #d4d4d4; }
  footer hr {
    background-color: black;
    height: 1px; }

i {
  color: black;
  margin-right: 5px; }

img {
  margin-top: 5px;
  width: 40%; }

.banner {
  height: 55vh;
  width: 100%;
  margin-bottom: 40px; }

.logo {
  margin-left: 2%;
  margin-bottom: 5px;
  padding: 5px; }

.mainContent img {
  width: 100%; }
