$max-width: 90vw;
$columns: 12;
$gutter: 30px;
$baseFontSize: 16px;
$background-color: rgb(40, 40, 40);
$active-link-color: #5a6d67;
$footer-text-color: rgb(212, 212, 212);
$content-color: rgb(214, 214, 214);