@import 'config';
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Prata&display=swap');
footer {
    background-color: lighten($background-color, 13%);
    margin-top: 2.2rem;
    padding: auto;
    padding-bottom: 0;
    
    li {
        color: $footer-text-color;
        margin: 0 10px;

        &:nth-child(1) {
            margin-left: 30%;
        }
    }
    h3 {
        text-align: center;
        font-size: 1rem;
        font-family: 'Prata';
    }
    a {
        color: $footer-text-color;
        font-size: 1rem;
        font-family: 'Prata';
    }
    p {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: .8rem;
        color: $footer-text-color;
        font-family: 'Prata';
    }

    hr {
        background-color: black;
        height: 1px;
    }
    ul {
        margin: auto;
    }
    
}

i {
    color: rgb(30, 30, 30);
    margin-right: 5px;
    font-size: 1rem;
}
.contacts {
    display: flex;
    justify-content: center;
    align-items: center;
}
.fb {
    margin: auto;
    display: flex;

    img {
        width: 15%;
        margin: 0 .2rem;

        &:last-of-type {
            margin-left: .5rem;
        }
    }
}