img {
    margin-top: 5px;
    width: 40%;
}
.banner {
    height: 55vh;
    width: 100%;
    margin-bottom: 40px;
}
.logo {
    margin-left: 2%;
    margin-bottom: 5px;
    padding: 5px;
}
.mainContent img {
    width: 100%;
}