
ul li {
    display:inline-block;
    list-style-type: none;
    margin: 0 5px;
    height: 100%;
}
a {
    text-decoration: none;
    color: #111514;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}